<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
  <button ion-button (click)="close()">Close Modal</button>
</ion-header>

<ion-content padding>
<h3>See console to see your data</h3>
<p>Clausole del contratto

  Clausole contratto utilizzo sito www.vgp.website Rel. 1.23
  
  In fase di registrazione al portale vgp.website all’utente gli vengono proposte le condizioni per potere utilizzare il sito, le quali devono essere completamente e incondizionatamente accettate.
  
  L’utente in fase di registrazione, dovrà leggere attentamente e comprendere il significato di tutte le clausole di utilizzo del sito vgp.website e in caso di accettazione dovrà mettere il visto (Flag) per accettazione sull’apposita casella, il quale consentirà di proseguire alla fase successiva di “richiesta registrazione nuovo utente”.
  
  Se l’utente non intende accettare anche solo una delle presenti clausole, non deve procedere alla registrazione, o richiederne successivamente la cancellazione di registrazione.
  
  L’utilizzo del sito vgp.website è consentito solo ad utenti registrati e convalidati dalla direzione.
  
  Art. 1 - L’obiettivo che si prefigge il portale vgp.website è quello di facilitare la condivisione di informazioni tra utenti fornite da terzi : dunque, vgp.website non ha nessuna responsabilità circa la veridicità, attualità, fondatezza e correttezza delle informazioni presenti nel portale, e dunque neppure delle informazioni inserite, vendute, acquistate, acquisite e cedute.
  
  Per rendere il sito il più efficiente possibile ed utile a tutti gli utenti, si richiede la massima correttezza e collaboratività nel rendere il portale vgp.website costantemente aggiornato ed utile per i fruitori.
  
  Art.2 – L’utente è quel soggetto, persona, azienda o ente che accede al portale vgp.website
  
  Art.3 – La registrazione e utilizzo del sito vgp.website è consentito esclusivamente alla persona che si è registrata al sito, la quale deve essere di età maggiore ai 18 anni. Non è consentito condividere o cedere un account a soggetti terzi. L’utilizzo dell’account è consentito esclusivamente a una persona, che è il titolare corrispondente in tutto e per tutto ai dati forniti durante la fase di registrazione.
  
  Eventuali variazioni circa i dati indicati in fase di registrazione, ci dovranno essere comunicati a mezzo e-mail entro 2gg di calendario dalla data di variazione.
  
  Art. 4 - L’utente in fase di registrazione è tenuto ad esaminare, confermando di averle recepite in toto, tutte le clausole di utilizzo del sito vgp.website ed è tenuto a salvarne una copia su supporto duraturo, in modo di poterle consultare in caso di necessità.
  
  Art. 5 – L’utente che ritiene di non volere accettare incondizionatamente anche solo una delle clausole presenti nel presente modulo, non dovrà proseguire alla richiesta di registrazione del sito, e se già iscritto, potrà richiederne la cancellazione, senza alcuna penalità, indennizzo o pretesa a carico di vgp.website. L’utente procedendo alla registrazione, è tenuto a rispettare tutte le regole di utilizzo del sito, presenti e future, anche successivamente all’eventuale sospensione o cancellazione dell’account.
  
  Art. 6 - L’utente eseguendo la procedura di registrazione, autorizza incondizionatamente e di fatto vgp.website a gestire, pubblicare, e condividere con terzi le informazioni e notizie presenti e future rilasciate volontariamente dall’utente o da altri utenti, che possono eventualmente interessare indistintamente qualsiasi utente, compreso il nuovo utente, oppure altri utenti, presenti o futuri, implicitamente esonerando il portare vgp.website oltre i proprietari e gestori dal sito, da qualsiasi responsabilità, diretta ed indiretta, delle conseguenze che potrebbero derivare dalla pubblicazione e condivisione dalla notizia/e o informazione/i che verranno rese pubbliche, o notizie già presenti nella banca dati.
  
  L’utente implicitamente dà la disponibilità di essere contattato da vgp.website o dalle aziende iscritte, per verificare le informazioni e segnalazioni segnalate e condivise.
  
  Art. 7 – I dati inseriti dall’utente in fase di registrazione, o a seguito di richiesta di successive variazioni, o verifiche dirette, devono essere veritieri e corretti. Qualsiasi variazione dovrà essere comunicata a vgp.website esclusivamente tramite posta elettronica, ed entro 2gg di calendario dall’avvenuta variazione. L’inosservanza comporta, senza alcuna comunicazione preventiva, l’eventuale rifiuto di registrazione al portale, o successiva limitazione o cancellazione del portale vgp.website senza alcun indennizzo e a nessun titolo da parte di vgp.website o dai suoi proprietari e gestori.
  
  Si ricorda che l’inserimento di dati non veritieri, diffamatori e lesivi a qualsiasi titolo, può configurare ipotesi di reato perseguibile per legge.
  
  Art. 8 – In fase di registrazione al portale, compariranno tre apposite sezioni, le quali dovranno essere lette e percepite nel loro tenore prima di procedere alla conclusione della richiesta di “registrazione utente, produttore o rivenditore/distributore”.
  
  Le tre sezioni sono:
  
  - Clausole del contratto
  
  - Esonero di responsabilità
  
  - Consenso Privacy/Cookie
  
  Successivamente alla richiesta di registrazione al portale vgp.website e all’esito positivo della registrazione come utente, il sistema invierà per mail all’utente le credenziali di accesso al sito.
  
  Art. 9 – L’utente ha la responsabilità di custodire in modo sicuro le proprie credenziali di accesso, e-mail password ecc. e non potrà divulgarle, comunicarle, cederle, condividerle con soggetti terzi e/o società, associazioni o enti. In caso di smarrimento delle credenziali, e nel caso ci fosse qualche dubbio che siano state violate, avvisare subito l’amministratore di vgp.website tramite e-mail e chiedere il cambio password.
  
  Art. 10 - Qualsiasi informazione o notizia presente o futura che fruibile sul portale vgp.website nella quale ci si riconoscesse come parte interessata o lesa, comporterà come l’unico responsabile giuridico e legale possa essere individuato esclusivamente nell’utente segnalatore. Fin da ora, a fronte delle clausole sottoscritte esimenti da ogni responsabilità, l’utente si impegna a non promuovere direttamente o indirettamente azioni legali nei confronti del portale vgp.website o dei sui proprietari, gestori o amministratori.
  
  Art. 11 – Le informazioni acquisite o acquistate sul portale vgp.website sono ad uso privato ed esclusivo dell’utente registrato, e non sono cedibili o comunicabili con qualsiasi mezzo e a nessun titolo a soggetti terzi, sia a titolo gratuito sia a titolo oneroso.
  
  Art. 12 – Quando l’utente verrà validato dall’amministratore, si riceveranno per mail le credenziali di accesso.
  
  Questi dati sono ad esclusivo utilizzo dell’utente, e non sono cedibili o divulgabili a nessun altro soggetto terzo.
  
  Art. 13 - L’utente che intende inserire, comunicare o condividere informazioni, si assume la piena responsabilità della notizia che vuole condividere, dunque l’utente è il solo responsabile delle comunicazioni che comunica e intende condividere, implicitamente esonerando il portare vgp.website oltre i proprietari e gestori dal sito da qualsiasi responsabilità diretta ed indiretta per quanto potrebbe scaturire dalla pubblicazione dalla notizia che verrà resa pubblica, assumendosi la piena responsabilità di quanto richiesto di pubblicare.
  
  Art.14 - Nonostante la verifica preventiva di ogni singola segnalazione, vgp.website non è in condizione di valutare e verificare le informazioni inserite e/o acquisite/acquistate/cedute/vendute circa la veridicità, attualità, correttezza, fondatezza, e che non contengano eventuali informazioni lesive, distorte, diffamatorie, ecc . vgp.website si impegna a rimuovere senza alcun preavviso, eventuali informazioni ritenute non conformi alle regole del sito, palesemente contro al decoro pubblico o contro la legge.
  
  Art.15 – La limitazione dell’utente all’accesso o utilizzo al portale vgp.website , a seguito di problemi tecnici, cancellazione, modifica o variazione, di qualsiasi informazione o dato presente sul portale, anche se proposto dall’utente, e preventivamente accettato da parte di vgp.website, comporta la rinuncia a priori dell’utente a qualsiasi richiesta di rivalsa o penale/vivile nei confronti di vgp.website o verso amministratori o gestori del sito stesso.
  
  Art. 16– L’utente aderendo alla registrazione del sito, autorizza implicitamente vgp.website in qualsiasi momento, senza preavviso, comunicazione, giustificazione o motivazione a:
  
  non accettare la registrazione al sito di un utente, bloccare un utente, cancellare un utente, modificare e aggiornare dati utente, modificare testi e contenuti notizie, modificare fascia prezzo QR e servizi, e tutte quelle operazioni e azioni ritenute necessarie da vgp.website, senza nessun obbligo di alcuna preventiva e successiva notifica o autorizzazione, essendo già implicitamente concesse in fase di richiesta registrazione ed eventuale accettazione di registrazione al sito.
  
  Art. 17- Nel caso di evidenti informazioni non veritiere, diffamatorie, calunniose, vessatorie, intimidatorie, estorsive, ovvero fatti o informazioni che potrebbero verosimilmente essere o rilevarsi illecite e illegali, le stesse non verranno accettate o se già presenti, rilevate o individuate, verranno rimosse dal portale vgp.website, pur restando legalmente responsabile l’utente segnalatore per le conseguenze dirette e indirette da esse causate durante il periodo di pubblicazione e successive.
  
  Art. 18 – L’utente che comunica informazioni non veritiere, distorte, calunniose o diffamanti, può essere perseguito per legge ed è il solo responsabile, manlevando sin da ora il portale vgp.website oltre i suoi proprietari e gestori da qualsiasi responsabilità.
  
  Art. 19 – Le richieste da parte degli utenti, come ad esempio: richiesta registrazione, richiesta inserimento prodotto acquistato, prodotto smarrito o rubato, ecc ecc , sono del tutto discrezionali e soggette all’autorizzazione dell’amministratore del sito vgp.website il quale valuterà a sua insindacabile giudizio se la richiesta è ammissibile, e in caso contrario, si riserverà di negare la pubblicazione o richiesta, e successivamente, potrà rimuoverla, correggerla o modificarla, senza eventuale preventiva autorizzazione o comunicazione e senza addurre motivo alcuno.
  
  Resta comunque bene inteso che l’utente segnalatore è il solo responsabile legale delle informazioni pubblicate.
  
  Art. 20 – In caso di richieste di informazioni da parte delle autorità competenti, la direzione di vgp.website dovrà comunicare i dati dell’utente, dunque si ripropone l’importanza dell’utilizzo del sito vgp.website in modo corretto, diligente, responsabile e legale.
  
  Art. 21 – L’utente registrandosi al portale, dà la implicita autorizzazione e disponibilità ad essere contattato da vgp.website o aziende registrate al portale, per verifica delle segnalazioni fornite, o per eventuali richieste di informazioni aggiuntive, essendo collaborativo e partecipe.
  
  Art. 22 – Non è garantita l’esclusività dell’informazione o notizia in quanto la stessa notizia/segnalazione potrebbe essere proposta anche da altri utenti. Potrebbe infatti accadere che la stessa notizia o parte di essa, possa essere presente su altre comunicazioni.
  
  Art. 23 - Capitolo “CONSENSO DELLA PRIVACY e COOKIE”
  
  L’utente prima di procedere alla registrazione al portale vgp.website , dovrà leggere e comprendere quanto previsto dal modulo Consenso Privacy e COOKIE.
  
  In caso l’utente non volesse accettare le condizioni esposte, non procedere alla registrazione al portale.
  
  Art. 24 - Recesso cancellazione al portale vgp.website
  
  L’utente che manifestasse l’intenzione di essere cancellato come utente dal vgp.website dovrà inviarci un mail nella sezione contatti con la presente richiesta.</p>
</ion-content>
