<ion-content>
  <ion-button size="small" fill="outline" style="float:right;margin-right: 5px" routerLink="/login" routerDirection="forward">Skip</ion-button>
  <ion-slides pager="true" [options]="slideOpts"  class="container" style="max-width: 100%; padding: 50px; margin:0px;">
    <ion-slide>
      <ion-grid>
        <ion-row style="justify-content: center; margin-left:50px;">
          <ion-col>
            <img  class="slide1" src="../../assets/images/selectrestaurant.png" style="width:500px;max-width: 400px; margin-left: 50px;" />
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center; margin-left:50px;">
            <h1>Select the Restaurant </h1>
        </ion-row>
        <ion-row style="justify-content: center; margin-left:130px; align-content: space-around; width: 275px;">
            <p>Select from the list of restaurant and check it's menu</p>
         </ion-row>
      </ion-grid>
      
     
     
    </ion-slide>
    <br />
    <br />
    <br />
    <br />

    <!-- <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img  class="slide1" src="../../assets/images/order.png" style="width:500px;max-width: 400px;" />
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
            <h1>Place the Order Online </h1>
        </ion-row>
        <ion-row style="justify-content: center; margin-left:20%; align-content: space-around; width: 275px;">
            <p>Select from your menu and place the order!</p>
         </ion-row>
      </ion-grid>
    </ion-slide>  -->
    <!-- <ion-slide>
      <img src="../../assets/images/waitout.png" />
      <h1>Place the Order Online </h1>
      <p>Select from your menu and place the order!</p>   
    </ion-slide>-->
  </ion-slides>
</ion-content> 